html(lang="en")
    head
        title cOBO - COllege Best Offer
        link(rel='stylesheet', href='/styles/styles.css')
        link(rel='stylesheet', href='/styles/bootstrap.min.css')
        link(rel='stylesheet', href='/styles/bootstrap-responsive.min.css')
    body
        block menu
        block content
        block scripts
