<!-- If item is clicked by the user, load the item as a popup -->
<script>
    $(document).ready(function() {
        $(document).on('mouseenter', '.item_box', function() {
            $(this).find(".view_item").show();
        }).on('mouseleave', '.item_box', function() {
            $(this).find(".view_item").hide();
        });
    });
</script>

<div class="item_box">
    <div class="image">
      <% if (picture) { %>
        <img src="data:image/png;base64,<%= picture %>" width='275px' height='225px' />
      <% } else if (description) { %>
        <%= description %>
      <% } else { %>
        <img src="" />
      <% } %>
    </div>

    <button type="button" class="view_item buttons" style="display: none;"> View </button>

    <div class="item_details">
        <div class="item_seller">
            <img class = "seller_pic"/>
            <%= seller_name %>
        </div>

        <div class="item_name">
            <%= name %>
        </div>

        <button class="item_price loadMessagePage">
            <%= "$" + (price_in_cents / 100).toFixed(2) %>
        </button>
    </div>
</div>
