<div class="item_box">
    <div class="image">
      <% if (picture) { %>
        <img src="data:image/png;base64,<%= picture %>" width=175px height=175px />
      <% } else if (description) { %>
        <%= description %>
      <% } else { %>
        <img src="" />
      <% } %>
    </div>
    <div class="item_details">
        <div class="item_seller">
            <%= seller_name %>
        </div>

        <div class="item_name">
            <%= name %>
        </div>

        <div class="item_price loadMessagePage">
            <%= "$" + (price_in_cents / 100).toFixed(2) %>
        </div>
    </div>
</div>
