<!-- If item is clicked by the user, load the item as a popup -->
<script>
    $(document).ready(function() {

    });
</script>

<div class="item_box">
    <div class="image">
      <% if (picture) { %>
        <img src="data:image/png;base64,<%= picture %>" width='275px' height='225px' />
      <% } else if (description) { %>
        <%= description %>
      <% } else { %>
        <img src="" />
      <% } %>
    </div>
    <div class="item_details">
        <div class="item_seller">
            <img class = "seller_pic"/>
            <%= seller_name %>
        </div>

        <div class="item_name">
            <%= name %>
        </div>

        <div class="item_price loadMessagePage">
            <%= "$" + (price_in_cents / 100).toFixed(2) %>
        </div>
    </div>
</div>
