<script>
    $(document).ready(function() {
        $("#load_register").click(function(e) {
            $("#register_form").show();
            $("#load_login").show();
            $("#login_form").hide();
            $("#load_register").hide();
            $(".error").hide();
            $('input[type=text]').val("");
            $('input[type=password]').val("");

            e.preventDefault();
        });   
    });


</script>

<!-- <div id="login-top-bar">
    <div class="top-bar-logo">
        <img src="../images/logo_100x100.png" width=70px height=70px>
    </div>
    <div class="top-bar-title">
        <h2> College Best Offers - COBO</h2>
    </div>
</div> -->
<div id="login-content">
    <div class="login-logo">
        <img src="../images/logo.png" width='120px' height='120px'>
    </div>

    <div class="page_title">
        <h2 class="welcome-message"> Welcome to College Best Offers - COBO </h2>
        <div class="information-holder">
            <p class="statement">
                Sell and buy items within your college at a reasonable price.
                Build a better community via reusability and trust between the
                buyer and seller.
            </p>
        </div>
    </div>

    <div class="form-holder">
        <form id="login_form">
            <fieldset>
                <!-- <legend> Login </legend> -->
                <p class="error" id="login_error" align="center"></p>

                <label align="center"> <input type="text" name="email" placeholder = "Email"> </label> <br />
                <label align="center"> <input type="password" name="password" placeholder = "Password"> </label> <br />
                <div id="login-submit" align="center">
                    <input type="submit" value="Login Now">
                </div>
            </fieldset>
        </form>

        <div align="center">
            <button class = "buttons" id="load_register"> New to the site? Register here! </button>
        </div>

        <form id="register_form" style="display: none">
            <fieldset>
                <!-- <legend> Registration </legend> -->
                <p class="error" id="reg_error" align="center"></p>

                <label align="center"><input type="text" name="remail" placeholder = "Email"></label> <br/>
                <label align="center"><input type="text" name="rfirst_name" placeholder = "First Name"> </label> <br/>
                <label align="center"><input type="text" name="rlast_name" placeholder =  "Last Name"> </label> <br/>
                <label align="center"><input type="password" name="rpassword" placeholder = "Password"> </label> <br/>

                <div id="register-submit" align="center">
                    <input type="submit" value="Register">
                </div>
            </fieldset>
        </form>

        <div align="center">
            <button id="load_login" style="display: none" class = "buttons"> Already have an account? Login now! </button>
        </div>
    </div>
</div>
