<h1> Hello ! Welcome to COBO. </h1>
<p> 
    To find party near you, please log in :). </br>
    If you don't have an account yet, please register for an account.
</p>

<h1>Sign In</h1>

<form>
<fieldset>
    <legend>Credentials</legend>
    <p class="error" id="error"></p>

    <label>
        Email:
        <input type="text" name="email">
    </label>
    <br />
    <label>
        Password:
        <input type="password" name="password">
    </label>

    <br />
    <div id="login-submit">
        <input type="submit" value="Login Now">
    </div>
</fieldset>
</form>

<ul>
  <li><a href="#forgotpassword">Forgot Password ?</a></li>
  <li><a href="#register">Register for an account ?</a></li>
</ul>
