.wrapper {
    width: 1000px;
    height: auto;
    margin:0 auto;
}

.wrapper #search_form {
    margin: 0 auto;
}

div .item_box{
    border: solid 1px cadetblue;
    width: 250px;
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

div .item_box:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

div .message_box {
    width: 300px;
    height: 300px;
}


/**** remove bullet from li ******/
li {
    list-style-type: none;
}