html,body,div,ul,li,h1,h2,h3,fieldset,button,input,p { 
    margin:0;
    padding:0;
}

div .wrapper {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.wrapper #search_form {
    margin: 0 auto;
}

div .message_box {
    width: 300px;
    height: 300px;
}


/**** remove bullet from li ******/
li {
    list-style-type: none;
    margin: 0 0 10px 0;
}

.second_wrapper {
    width: 100%;
    height: 35px;
    background-color: #F3F3F3;
    /*background-color: #829AA8;*/
    position: relative;
    z-index: 1;
    padding: 8px 0;
    box-shadow: #272626 0 0 2px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}

.second_wrapper #logo_div {
    width: 13.70%;
    float: left;
    margin-left: auto;
}

.second_wrapper #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin: inherit;
    width: 17%;
}

.second_wrapper #search_form{
    display: inline-block;
    width: 600px;
    float: left;
    padding-top: 10px;
    margin-left: auto;
}

.second_wrapper #search_form input {
    height: 30px;
    width: 55%;
    
    margin-top: -7px;
}

.second_wrapper #search_form button {
    margin-top: -7px;
    height: 30px;
    width: 17%;
}

.second_wrapper #profile{
    width: 39.2%;
    float: right;
    margin-left: auto;
    margin-top: -7px;
}

.menu * {
    margin: 0;
    padding: 10px 10px 0px 10px;
}

/*.menu nav {
    margin: 3px;
    width: 200px;
}*/

.menu ul {
    margin-top: -10px;
    overflow: auto;
    list-style-type: none;
}

.menu li {
    height: 15px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 5px;
}

.menu li:last-child {
    border-right: none;
}

.menu li a {
    text-decoration: none;
    color: #1B1A1A;
    font: 12px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu li a:hover {
    color: #666;
}

.menu li.active a {
    font-weight: bold;
    color: #333;
}

.all_items {
    width: 100%;
    margin-left: 100px;
    
}

/*************************/


/************ Login Page *********/
/*div #login-top-bar {
    width: 100%;
    height: 65px;
}

div #login-top-bar .top-bar-logo {
    margin-left: 100px;
    float: left;
}

div #login-top-bar .top-bar-title {
    margin-left: 250px;
    float: left;
    font-size: 40px;
}*/

div #login-content{
    width: 100%;
    height: 100%;
    background-image: url("../images/login-background-dark-2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div .login-logo {
    padding-top: 20px;
}

img {
    margin: auto;
    display: block;
    /*-webkit-filter: brightness(10%);*/
}

div .page_title {
    margin: auto;
    width: 500px;
}

.welcome-message {
    color: #FF8B04;
    /*color: #530062;*/
    font-size: 32px;
    float: left;
    text-align: center;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

div .information-holder {
    padding-top: 5px;
    float: left;
    width: 500px;
}

.statement {
    font-size: 20px;
    /*font-weight: bold;*/
    color: #FF8B04;
    /*color: #530062;*/
    line-height: 25px;
    text-align: center;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

div .form-holder {
    margin-left: auto;
    margin:auto;
    width: 500px;
}

div #login-submit {
    margin-left: auto;
    margin-bottom: 10px;
}

div #load_register {
    margin-left: auto;
}

div #register-submit {
    margin-left: auto;
    margin-bottom: 10px;
}

div #load_login {
    margin-left: auto;
}

label {
    height: 25px;
}

label input[type="text"], label input[type="password"] {
    height: 30px;
    font-size: 14px;
}

input[type="submit"], button {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    /*color: #1A1F50;*/
    color: #fff;
    /*background: #E7C63F;*/
    /*background: #71B0BA;*/
    background: #5D016D;
    font: 16px Georgia, "Times New Roman", Times, serif;
    padding: 5px 15px;
    border: none;
}

/*.buttons {
    margin: 0 auto;
    display: block;
    width: 300px;
}*/

/********************************/

/************* Listing **********/
.user_information .profile {
    margin-top: -10px;
    text-align: center;
}

.sold_items, .bought_items {
    width: 100%;
    margin-top: -10px;
    margin-left: 100px;
}


div .post_item {
    margin-left: 50px;
    margin-top: 50px;
}

div .your_items {
    margin-left: 50px;
    margin-top: 50px;
}
/**********************************/

/***** profile page *****/

/*div .user_information {
    margin-left: 50px;
    margin-top: 50px;
}*/

/************************/


/************************/

div .item_box{
    margin-left: 40px;
    margin-top: 20px;
    border: solid 1px #9aa09e;
    width: 300px;
    height: 320px;
    float: left;
    position: relative;
    margin-bottom: auto;
    display: block;
    -webkit-border-radius: 3px;
    background: rgba(231, 230, 230, 0.3);
}

div .item_details {
    margin : 0;
    padding : 0;
    width : 300px;
    height : 75px;
    position : absolute;
    bottom : 0;
    border-top: 1px solid #9aa09e;
}

div .item_seller {
    display: inline-block;
    font: 12px sans-serif;
    width: 70px;
    height: 70px;
    padding-top: 5px;
    text-align: center;
}

.seller_pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #9aa09e;
}

div .item_name {
    display: inline-block;
    font: 14px sans-serif;
    font-weight: bold;
    width: 140px;
    height: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

div .item_price {
    display: inline-block;
    width: 40px;
    height : 75px;
    font: 20px sans-serif;
    color: #3333AA;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

div .item_box .view_item {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

div .item_box .image {
    position: absolute;
    right: 10px;
    top: 10px;
    left: 10px;
    opacity:1.0;
}

div .item_box .image:hover {
    opacity: 0.3;
    filter: alpha(opacity=30)
}

/******* Sold items and bought items *************/
div .sold_items_div {
    margin: auto;
}

div .bought_items_div {
    margin: auto;
}

/************** Post item form ********************/
#popup {
    margin: 0 auto;
    padding: 0.5em;
    width: 30%;
    background: #eee;
    line-height: 30px;
}